@import 'bulma/css/bulma.css';

.herobg {
    background-image: url("../../public/img/hero-bg.webp");
    background-repeat: no-repeat;
    background-attachment:inherit;
    background-position: center center;
    background-size: 100%;
}

.bg-motif-blue {
    background-color: #00344f;
}
