<template>
    <div>
        <p class="mb-2">
            <label for="name" class="mb-2">Your First Name</label>                    
        </p>
        <div class="control has-icons-left mb-4">                
            <input v-model="firstName" class="input" id="name" name="name" maxlength="18" placeholder="First Name Only" aria-required="true" required>
            <span class="icon is-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                    <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                </svg>
            </span>
        </div>

        <div class="mb-4">
            <p class="mb-4">
                <label for="birthdate">Your Date of Birth</label>
            </p>
            <VueDatePicker v-model="date" :enable-time-picker="false"></VueDatePicker>
        </div>

        <div class="grid">
            <div class="cell">
                <p class="mb-4">
                    <label for="frequency">How Frequent Are The Migraines?</label>
                </p>
                <div class="control has-icons-left">
                    <div class="select is-rounded mb-4 is-fullwidth">
                        <select id="frequency" name="frequency" v-model="selected">
                            <option selected value="">Migraine Frequencies </option>
                            <option v-for="frequency in frequencies" :value="frequency.slug">{{ frequency.name }}</option>
                        </select>
                    </div>
                    <span class="icon is-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-octagon-fill" viewBox="0 0 16 16">
                            <path d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="cell">
                <p class="mb-4">
                    <label for="daily_frequency">If Daily, How Many Per Day?</label>        
                </p>
                <div class="control has-icons-left">
                    <div class="select is-rounded mb-6 is-fullwidth">
                        <select v-if="visible === false" aria-disabled="true" disabled id="daily_frequency" name="daily_frequency">
                        </select>
                        <select v-else v-model="dailyFrequency" id="daily_frequency" name="daily_frequency" aria-required="true">
                            <option selected value="0">Please Select</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5+">5+</option>
                        </select>
                    </div>
                    <span class="icon is-left">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0M8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3z"/>
                        </svg>
                    </span>
                </div>
            </div>
        </div>

        <input v-model="formattedDate" name="birthdate" aria-hidden="true" hidden>

        <div class="has-text-centered">
            <button class="button is-medium is-info is-dark mb-6">
                Submit Your Information                
            </button>
        </div>
    </div>
</template>
<script setup>
import { ref, watch } from 'vue';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'

const props = defineProps(
    {
        frequencies: Array
    }
);

const firstName = ref('');
const date = ref();
const formattedDate = ref('');
const selected = ref('');
const visible = ref(false);
const dailyFrequency = ref(0);

const formatBirthDate = (date) => {
  const day = date.getDate();
  const month = date.getMonth() + 1;
  const year = date.getFullYear();
  formattedDate.value = `${year}-${month}-${day}`;
}

watch(firstName, (fName) => {
    firstName.value = fName.replace(/^\s+|\s+$/gm,'');
});

watch(date, (birthdate) => {
    formatBirthDate(birthdate)
});

watch(selected, (frequency) => {
    if(frequency === 'daily') {
        visible.value = true;
    } else {
        visible.value = false;
    }
});
</script>